In [1]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df['Age Range'].value_counts()

25 to 34 years       91083
35 to 44 years       67390
10 to 19 years       58944
45 to 54 years       52492
0 to 9 years         38242
65 to 74 years       30141
20 to 24 years       29761
55 to 59 years       21230
60 to 64 years       19800
75 years and over    14150
Name: Age Range, dtype: int64

In [2]:
df['Age Range'].value_counts(normalize=True) #ca.21,5% der Kunden sind zwischen 25-34 Jahre alt.

25 to 34 years       0.215208
35 to 44 years       0.159227
10 to 19 years       0.139271
45 to 54 years       0.124026
0 to 9 years         0.090357
65 to 74 years       0.071216
20 to 24 years       0.070318
55 to 59 years       0.050161
60 to 64 years       0.046783
75 years and over    0.033433
Name: Age Range, dtype: float64

In [3]:
age_mode = df['Age Range'].mode()
age_mode[0]

'25 to 34 years'

In [4]:
df['Year Patron Registered'].value_counts(normalize=True) #Im Jahr 2013 wurden ca. 11,4% der Kunden registriert. In den kommenden Jahren wurden stetig weniger Kunden registriert.

2003    0.163555
2015    0.127409
2014    0.122570
2013    0.113948
2012    0.088311
2011    0.062655
2016    0.062081
2010    0.057436
2009    0.052679
2008    0.048455
2007    0.031383
2006    0.025448
2005    0.022832
2004    0.021240
Name: Year Patron Registered, dtype: float64

In [6]:
age_range_mode = df['Age Range'].mode()[0]
df['Age Range'].fillna(age_range_mode, inplace=True)

In [7]:
df['Age Range'].isna().sum()

0

In [8]:
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.215606
35 to 44 years       0.159146
10 to 19 years       0.139200
45 to 54 years       0.123963
0 to 9 years         0.090311
65 to 74 years       0.071180
20 to 24 years       0.070283
55 to 59 years       0.050136
60 to 64 years       0.046759
75 years and over    0.033416
Name: Age Range, dtype: float64

In [9]:

df['Total Checkouts'].mean() #Mittelwert

161.98209697530748

In [10]:
df['Total Checkouts'].median() #Median

19.0

In [11]:
df['Total Checkouts'].quantile(q=[0.25, 0.5, 0.75])

0.25      2.0
0.50     19.0
0.75    113.0
Name: Total Checkouts, dtype: float64

In [12]:
# identifies 0.5% of the data at both ends of the distribution
alpha = 0.005
df['Total Checkouts'].quantile([alpha, 1-alpha])

0.005       0.00
0.995    2827.53
Name: Total Checkouts, dtype: float64

In [13]:
df['Total Checkouts'].var()

205847.027758416